// setup
@import flex
@import colors
@import "animate.css"
@import "reset.css"

// fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,300,700')
serif = 'Nunito', sans-serif

// core
@import ari