extends _layouts/base

include _modules/link/link

block content
  .container.background
    .box
      h1 I'm Ari Zilnik, a UX designer based in Brooklyn.
    .box
      p I like crafting simple, elegant solutions out of complex problems.
      p Most of all, I enjoy learning about how people navigate the world, and making their lives easier through interactive design.
    .box
      p  You can email me, or find me on Twitter/LinkedIn.
      p Sometimes, I write my thoughts on Medium.
